<div class="menu-container">
  <div class="branding">
    <img src="assets/img/codetrust-standalone.png" class="branding__logo" />
    <div class="branding__name">ctng</div>
  </div>
  <div class="menu">
    <div class="menu__header">
      Menü
    </div>
    <nav class="menu__links">
      <a routerLink="/core" routerLinkActive="active">Core</a>
    </nav>
    <nav class="menu__links">
      <a routerLink="/common" routerLinkActive="active">Common</a>
    </nav>
    <nav class="menu__links">
      <a routerLink="/auth" routerLinkActive="active">Auth</a>
    </nav>
    <nav class="menu__links">
      <a routerLink="/auth-jwt-ls" routerLinkActive="active">Auth JWT LS</a>
    </nav>
    <nav class="menu__links">
      <a routerLink="/testing" routerLinkActive="active">Testing</a>
    </nav>
    <nav class="menu__links">
      <a routerLink="/wordpress" routerLinkActive="active">Wordpress</a>
    </nav>
    <nav class="menu__links">
      <a routerLink="/localization" routerLinkActive="active">Localization</a>
    </nav>
  </div>
</div>
